{% extends "layout.html" %}
{% block title %}
HOME
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
       <div class="col-sm-12 toppart">
          <img src="static/images/Prolifics.jpg"/>ROLIFICS <span class="health">&nbsp;JEOPARDY</span>
       </div>
 
    </div>
 
    <div class="row">
       <div class="col-sm-6 whatwedo">
          <p class="whitetext slightlybigger"> Welcome to Prolifics Jeopardy. Select a Discipline to play!
          </p>
          <br>
          <ol class="list-numbered">
             [REPLACE]
           </ol>
       </div>
 
    </div>
 </div>
 
 <div class="contactvorm row whiteback somepad">
    <div class="col-sm-4 cabin whiteback slightlybigger ">
          <p><i class="fa fa-2x fa-envelope"></i> Issues contact... craig.breakspear@prolifics.com</p>
       
    </div>
    <div class="col-sm-4 cabin whiteback slightlybigger ">
          <p><i class="fa fa-2x fa-phone"></i> 404.395.6663</p>
       
    </div>
    <div class="col-sm-4 cabin whiteback slightlybigger ">
          <p><i class="fa fa-2x fa-map-marker"></i> Somewhere in the void<br>Downtown<br>
       Orlando FL</p>
       
    </div>
    <div class="col-sm-4 cabin whiteback slightlybigger ">
      <p><i class="fa fa-2x fa-map-marker"></i> <a href="/about">ABOUT</a>
   
</div>
    </div>
 
 </div>
 </div>
 
 <script src="/static/js/bootstrap.min.js"></script>
{% endblock %}